player-connection-mode=Listen
player-connection-guid=3092794962
player-connection-debug=0
player-connection-project-name=DruidsofDumnonia
player-connection-ip=192.168.0.19
player-connection-ip=192.168.137.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
xrsdk-pre-init-library=OculusXRPlugin
